body {
    font-size: 100%;
    background-color: #E3E4E6;
}

.right {
    text-align: right;
}

.header {
    font-size: 36pt;
    font-family: sans-serif;
    background-color: #3288F2;
    color: white;
    text-shadow: 1px 0 black;
}

.header > b {
    float: right;
}

.card {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.cash {
    font-size: 36pt;
    font-family: sans-serif;
    display: table;
    width: 98%;
    margin: 36pt auto 0 auto;
}

.cash i {
    font-style: normal;
    color: #808080;
}

.cash .row {
   display: table-row;
}

.cash .cell {
    display: table-cell;
    padding: 12pt;
}

.expenses {
    font-size: 24pt;
    font-family: sans-serif;
    width: 90%;
    margin: 0 auto;
    display: none;
}

.expenses b {
    font-size: 30pt;
}