<!DOCTYPE html>
<html>
<head>
<title>univer</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript">

function update() {
    $('div.cash').each(function(i) {
    var elem = $(this);
    var id = elem.data('id');

    if (id == undefined) return;

    $.getJSON('/cash/'+ id + '/', function (data) {
        var v = elem.find('b');
        $(v[0]).html((data.sum_in + data.sum_sale - data.sum_out - data.sum_refund).toFixed(2));
        $(v[1]).html(data.sum_in.toFixed(2));
        $(v[2]).html(data.sum_sale.toFixed(2));
        $(v[3]).html(data.sum_refund.toFixed(2));
        $(v[4]).html(data.sum_out.toFixed(2));
    });

    });

}

function update_expenses() {
    $('div.cash').each(function(i) {
        var elem_cash = $(this);
        var elem = elem_cash.next();
        $.getJSON('/cash/'+ elem_cash.data('id') +'/expenses/', function(data) {
            var items = [];
            $.each(data, function(k, v) {
                items.push('<div>'+ v.time.substring(0, 5) + ' - <b>'+ v.total_sum.toFixed(2) +'</b> - '+ v.comment +'</div>');
            });
            elem.append(items.join(''));
        });

        elem_cash.click(function() {
            var elem = $(this).next();

            if (elem.is(':hidden')) {
                elem.show();
            } else {
                elem.hide();
            }
        });

        elem_cash.click();
    });
}

$(function() {
    update();
    update_expenses();
    //setTimeout(update, 60 * 1000);
});

</script>
</head>
<body>

{% for cash in object_list %}
<div class="cash card" data-id="{{cash.pk}}">

    <div class="row header">
        <div class="cell">
            {{cash.name}}
        </div>
        <div class="cell right">
            <b>0.00</b>
        </div>
    </div>

    <div class="row">
        <div class="cell">
            <i>Внесено:</i> <b>0.00</b>
        </div>

        <div class="cell right">
            <i>Продажи:</i> <b>0.00</b>
        </div>
    </div>

    <div class="row">

        <div class="cell">
            <i>Возвраты:</i> <b>0.00</b>
        </div>

        <div class="cell right">
            <i>Снято:</i> <b>0.00</b>
        </div>
    </div>

</div>
<div class="expenses card"></div>
{% endfor %}

</body>
</html>
