<html>
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);

    var cashes = [];
    {% for cash in object_list %}
        cashes.push({
            id: {{ cash.id }}, name: "{{ cash.name|safe }}"
        });
    {% endfor %}


    function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'День');

    cashes.forEach(function (item, i, arr) {
        data.addColumn('number', item.name);
    });

    var dates = {{ dates|safe }};

    data.addRows({{ data|safe }});

    var options = {
        title: 'Продажи',
        height: 500,
        pointSize: 5,
        hAxis: { title: 'День', slantedText: true },
        vAxis: { title: 'грн', format: 'decimal' },
        legend: { position: 'top' },
        displayExactValues: true
    };

    var chart = new google.visualization.AreaChart(document.getElementById('linechart_material'));

    chart.draw(data, options);
    }
  </script>
</head>
<body>
  <div id="linechart_material"></div>
</body>
</html>