<html>
<head>
<title>{{ product }}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
<style>
body {
    font-family: sans-serif;
}
</style>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript">

$(function() {
    var items = [];

    $.getJSON('stock/', function(data) {
        $.each(data, function(k, v) {
            items.push('<b>'+ v.name +'</b>: <b>'+ v.count +'шт. </b><br/>');
        });
        $('#stock').append(items.join(''));
    });
});
</script>
</head>
<body>
<div id="product"><h2>#{{ product.pk }}  {{ product }}   {{ product.get_price }}</h2></div>

<div>Остаток: <b>{{ product.stock }}</b> шт.</div>
<div id="stock"></div>

<hr/>

{% if product.get_image.0 %}
<img src="{{ STATIC_URL }}i/{{ product.get_image.0 }}" />
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {{ form }}
    <input type="hidden" name="id" value="{{ product.pk }}">
    <input type="submit" value="Submit" />
</form>
</body>
</html>
